:host {
  display: block;
}

.layout-body {
  display: flex;
  /* El body comienza después del header */
  min-height: calc(100vh - var(--header-height));
}

.main-content {
  /* Deja espacio para el sidebar fijo */
  margin-left: var(--sidebar-w);
  flex: 1;
  padding: 1.5rem 2rem calc(var(--footer-h) + 20px);
  background: #f6f8fa;
  min-height: calc(100vh - var(--header-height));
}
